.display{
 
  width: 320px;
  margin: 100px auto;
}
.screen{
  height: 45px;
  width: 312px;
  background-color: rgb(245, 242, 241);
  border: 2px solid rgb(13, 167, 214);
  padding: 2px;
  text-align: right;
}
.button{
  height: 80px;
  width: 80px;
  background-color: rgb(18, 31, 85);
  color: #fff;
  float: left;
  border: 2px solid black;
}
.button2 {
  height: 80px;
  width: 80px;
  background-color: rgb(151, 219, 240);
  color: #1f125c;
  float: left;
  border: 2px solid black;
}
.button3 {
  height: 80px;
  width: 80px;
  background-color: yellow;
  color:black;
  float: left;
  border: 2px solid black;
}